.container {
    display: flex;
    flex-direction: row;
}

#c1 {
    background-color: lightgray;
    width: 130px;
    display: inline-block;
    height: 220px;
}
#c1 > ul {
    list-style-type: none;
    padding-left: 0px;
}
#c1 > ul > li {
    color: rgb(0, 162, 255);
    font-size: 30px;
    padding: 6px 8px 6px 16px;
    font-family: "Lato", sans-serif;
}
#c1 > ul > li:hover {
    transition: 0.5s;
    color: black;
}
#c2 {
    margin-left: 20px;
    font-family: "Lato", sans-serif;
}