.item1 { grid-area: header;}
.item2 { grid-area: menu; 
        background-color: lightgreen;   
        width: 102%;
        margin-left: -2%;
        height: 50px;
}
.item3 { grid-area: main; }
.item6 { grid-area: list;
            width: 230px;
            background-color:white;
            margin-left: -7%;
            padding-left: 7%;
            float: left;
            box-shadow: 1px 1px 1px 1px grey;
}
.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu menu menu menu menu menu'
    'list main main main main main';
  grid-gap: 5px;
  padding: 10px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}
.logo{  color: limegreen;
        font-size: 30px;
        float: left;
        padding: 0;
        margin: 0;
}
.dotcom{    color: darkgrey;
            font-size: 30px;
            float: left;
            padding: 0;

}
.logan{
        font-size: 15px;
        float: right;
        margin-top:2%; 
}
.buttonleft{    float: left;
                padding: 0;
                margin: 0;
                text-decoration: none;
                color:white;
                text-align: center;
                padding:1em;
}

.buttonleft:hover{  color: black;
    background-color: white;}
.dslist{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.buttonright{ float:right;}
.textlist{ 
            margin: 4% 0 4% 0;
            width: 100%;
}
.itemlist{
    width: 100%;
    margin-left: -10%;
    padding: 1% 0 1% 10%;
}
.itemlist:hover{
    background-color: gray;
}
.br1{
    width: 100%;
    height: 500px;
}
.br2{
    width: 100%;
    height: 500px;
    background-color: silver;
}
.br2 .main2{
    background-color: white;
}
.main1{
        width: 44%;
        margin: 3% 1.5% 0 1.5%;
        text-align: center;
        float: left;
        height: 400px;
        padding-bottom: 20px;
}
.textmain11{
    font-size: 75px;
    padding: 0;
    margin: 50px 0 0 0;
    width: 100%;
    float: left;
}
.textmain12{
    font-size: 25px;
    padding: 0;
    margin: 1em;
    width: 100%;
    float: left;
}
.buttonmain1{
    text-decoration: none;
    color:white;
    background-color: gray;
    padding:5px;
  
}
.buttonmain1:hover{
    background-color:silver;
}
.main2{
    width: 44%;
    float: left;
    background-color: darkgray;
    height: auto;
    margin: 3% 1.5% 0 1.5%;
    padding-bottom: 20px;
}
.textmain21{
    margin:20px 0 0 20px;

}
.textmain22{
    padding: 1em;
    margin: 1em;
    background-color: white;
}
.buttonmain2{
    background-color: lightgreen;
    padding: 5px 10px 5px 10px;
    margin:10px 0 0 20px;  
    color: white;
    text-decoration: none;
}
.buttonmain2:hover{
    box-shadow: 1px 1px 1px 1px grey;
    
}
